
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav-content">
    <mat-nav-list>
      <a mat-list-item routerLink="all-movies" routerLinkActive="active-link"
        >All movies</a
      >
      <a mat-list-item routerLink="upcoming" routerLinkActive="active-link"
        >Upcoming</a
      >
      <a mat-list-item routerLink="popular" routerLinkActive="active-link"
        >Popular</a
      >
      <a mat-list-item routerLink="top-rating" routerLinkActive="active-link"
        >Top-rating</a
      >
      <a mat-list-item routerLink="favorites" routerLinkActive="active-link"
        >Favorites</a
      >
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
